
.container {
    background-color: transparent;
    background-image: url('https://blob.luznoticias.mx/images/2023/10/25/fiesta-cinepolis-focus-0.39-0.39-966-544.jpg');
    background-size: cover;
    background-position: center; 
    background-repeat: no-repeat;
    width: 1980px;
    height: 1020px;

    color:#f0f8ff
}

  input {
    background-color: rgb(199, 199, 179);
    display: block;
    position:
    
  }
  label {
    display: block;
    margin: 10px 0;
  }
  button {
    background-color: rgb(255, 255, 255);
    color: brown;
    margin-top: 20px ;
  }
  
  h2 {
    margin-top: 20px;
  }
