label {
    margin: 0px 5px 0 30px;
}

  th, td {
    border: 1px solid #9374af;
    padding: 8px;
    text-align: center;
  }
  
  th {
    background-color: #e586f4;
    color: rgba(0, 0, 0, 0.795);
  }
  td {
    font-size: 16px;
  }
  
  thead {
    background-color: #333;
    color: white;
  }
  
  button {
    background-color: #ac2121;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    margin-top: 20px;
  }
  button:hover {
    background-color: #882424;
  }